@import "../../assets/scss/variables";

.skill__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container__technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-width: 100px;
  height: 100px;
}

.container__technology:hover {
  transform: scale(1.5);
  transition: 300ms ease;

  & .technology__label {
    text-shadow: 0 3px 8px $black;
    transition: 300ms ease;
  }
}

.technology__svg,
.technology__img {
  width: 100%;
  height: 50px;
}

.technology__img img {
  width: 50px;
  height: 50px;
}

.technology__label {
  font-weight: bold;

  &--angular {
    color: $angular;
  }
  &--reactjs {
    color: $reactjs;
  }
  &--redux {
    color: $redux;
  }
  &--nodejs {
    color: $nodejs;
  }
  &--html5 {
    color: $html5;
  }
  &--css3 {
    color: $css3;
  }
  &--css6 {
    color: $css3;
  }
  &--es6 {
    color: $es6;
  }
  &--sass {
    color: $sass;
  }
  &--git {
    color: $git;
  }
}
