@import './../../assets/css/base.scss';

.profile-body {
    background-color: white;
    box-shadow: 1px 1px 7px 1px #bfbfbf;
    margin-top: 0.7rem;
    padding: 1rem;
    >.profile-body__title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    >.profile-body__content {
        text-align: justify;
        color: $text-color;
        >.profile-body__content--items {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            >.profile-body__content--item {
                border: 1px solid;
                border-radius: 50%;
                padding: 0.4rem;
                margin: 0.2rem;
            }
        }
    }
    hr {
        margin: 1rem 0;
    }
}