.profile-body {
    background-color: white;
    box-shadow: 1px 1px 7px 3px #bfbfbf;
    margin-top: 1rem;
    padding: 1rem;
    >.profile-body__title {
        text-transform: uppercase;
        font-size: 1.1rem;
    }
    >.profile-body__content {
        text-align: justify;
        font-size: 1rem;
        margin-top: .5rem;
    }
}