@import "../../assets/scss/base.scss";

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $btn-padding-y $btn-padding-x;

  font-family: $btn-font-family;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  white-space: $btn-white-space;
  font-weight: $btn-font-weight;

  border: $btn-border;
  border-radius: $btn-border-radius;

  box-shadow: $btn-box-shadow;
  transition: $btn-transition;

  &.primary {
    @include buttonVariation($white, $primary);
  }

  &.secondary {
    @include buttonVariation($white, $secondary);
  }
}
