@import "../../assets/scss/base.scss";

.timeline-item {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  position: relative;
  margin: 10px 0;
  max-height: 265px;
}

.timeline-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  text-align: left;
  margin-top: 0;
  border-top: 2px solid $weldon-blue-500;
}

.timeline-item__content::after {
  position: absolute;
  top: 20px;
  left: -7.5px;
  content: " ";
  background-color: $white;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: $timeline-left-arrow-shaddow;
}

.timeline-item__container {
  height: 100%;
  padding: 15px;

  & .timeline-item__job-description {
    max-height: 170px;
    overflow: hidden;
  }
}

.timeline-item__path {
  & .path__circle {
    position: absolute;
    background-color: $white;
    border: 1px solid $primary;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 23px;
    left: -38px;
  }
  & .path__line {
    position: absolute;
    content: " ";
    width: 1px;
    height: 100%;
    background-color: $primary;
    top: 40px;
    left: -31px;
  }
}

.timeline-item:last-child .timeline-item__path {
  & .path__line {
    height: 85%;
  }
}

@include media-breakpoint-up(md) {
  .timeline-item {
    align-self: flex-end;
    max-width: 300px;

    & .timeline-item__path {
      & .path__circle {
        right: auto;
        left: -27px;
      }

      & .path__line {
        right: auto;
        left: -20px;
      }
    }
  }

  .timeline-item:nth-child(odd) {
    padding-left: 30px;
  }

  .timeline-item:nth-child(even) {
    align-self: flex-start;
    padding-right: 30px;

    & .timeline-item__content::after {
      right: -7.5px;
      left: auto;
      box-shadow: $timeline-right-arrow-shaddow;
    }

    & .timeline-item__path {
      & .path__circle {
        right: -38px;
        left: auto;
      }

      & .path__line {
        right: -31px;
        left: auto;
      }
    }
  }
}
