@import "../../assets/scss/base.scss";

.timeline-item {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  position: relative;
  margin: 10px 0;
}

.timeline-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  text-align: left;
  margin-top: 0;
  background-color: $white;
  width: 100%;
  box-shadow: $timeline-box-shadow;

  @each $color-name in map-keys($timeline-colors) {
    &.timeline-item__content--#{$color-name} {
      border-top: 3px solid map-get($timeline-colors, $color-name);
    }
  }
}

.timeline-item__content::after {
  position: absolute;
  top: 20px;
  left: -7.5px;
  content: " ";
  background-color: $white;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: $timeline-left-arrow-shaddow;
}

.timeline-item__container {
  height: 100%;
  padding: 15px;

  & .timeline-item__title {
    margin-top: 0;
    font-size: 1.25em;
    font-weight: bold;
  }

  & .timeline-item__sub-title {
    font-size: 1rem;
    font-weight: bold;
  }

  & .timeline-item__period {
    font-size: 1rem;
    padding-top: 5px;
  }

  & .timeline-item__description {
    font-size: 0.875rem;
    text-align: justify;
    white-space: pre-line;
  }
}

.timeline-item__path {
  & .path__circle {
    position: absolute;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 23px;
    left: -38px;
  }
  & .path__line {
    position: absolute;
    content: " ";
    width: 1px;
    height: 100%;
    background-color: $primary;
    top: 40px;
    left: -31px;
  }
}

.timeline-item:last-child .timeline-item__path {
  & .path__line {
    height: 85%;
  }
}

@include media-breakpoint-up(md) {
  .timeline-item {
    align-self: flex-end;
    max-width: calc(50% - 20px);

    & .timeline-item__path {
      & .path__circle {
        right: auto;
        left: -22px;
      }

      & .path__line {
        right: auto;
        left: -15px;
      }
    }
  }

  .timeline-item:nth-child(odd) {
    padding-left: 30px;
  }

  .timeline-item:nth-child(even) {
    align-self: flex-start;
    padding-right: 30px;

    & .timeline-item__content::after {
      right: -7.5px;
      left: auto;
      box-shadow: $timeline-right-arrow-shaddow;
    }

    & .timeline-item__path {
      & .path__circle {
        right: -33px;
        left: auto;
      }

      & .path__line {
        right: -26px;
        left: auto;
      }
    }
  }
}
