@import "../../assets/scss/variables";

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  text-align: left;
  margin-top: 0;
  border-top: 2px solid $weldon-blue-500;
}

.timeline-item__content::after {
  position: absolute;
  top: 20px;
  right: -7.5px;
  content: " ";
  background-color: $white;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  box-shadow: 1px -1px 1px rgba($black, 0.2);
}

.timeline-item:nth-child(odd) .timeline-item__content {
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item__content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba($black, 0.2);
}

.timeline-item__content .circle {
  background-color: $white;
  border: 3px solid $primary;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item__content .circle {
  right: auto;
  left: -40px;
}
