@import "../../assets/scss/variables";

.toolbar {
  position: relative;
  display: block;
  width: 100%;
  height: 370px;
  background: url("./../../assets/images/toolbar_background_small.png")
    no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  box-shadow: $box-shadow;
}
