@import "../../assets/scss/base.scss";

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0 10px 50px;
}

@include media-breakpoint-up(md) {
  .timeline {
    margin: 10px 50px;
  }
}

@include media-breakpoint-up(lg) {
  .timeline {
    margin: 10px 160px;
  }
}