.profile-header {
    background-color: white;
    box-shadow: 1px 1px 7px 3px #bfbfbf;
    display: flex;
    justify-content: left;
    >.profile-image {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        margin: 1rem;
    }
    >.profile-title {
        margin: auto;
        >.profile-title__name {
            font-weight: bold;
            font-size: 1rem;
        }
        >.profile-title__job {
            color: #DCDCDC;
            font-size: 0.9rem;
        }
    }
}