@import "./assets/scss/base.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: normal normal $font-weight-normal 16px $font-family-base;
  color: $font-color;
  background-color: $background-color;
}

.container {
  margin: 1rem;
}

@include media-breakpoint-up(md) {
  .container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
}

@include media-breakpoint-up(lg) {
  .container {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
  }
}
