@import "./assets/scss/base.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: normal normal $font-weight-normal 16px $font-family-base;
  color: $gray-900;
  background-color: $gray-100;
}

.container {
  margin: 1rem;
}
