@import "./../../assets/scss/variables";

.about-container__text {
  padding: 10px;
  text-align: justify;
  white-space: pre-line;
}

.about__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
